body {
    font-family: "Roboto", sans-serif, serif;
    font-weight: 300;
    font-size: 16px;

    line-height: 1.4;
    margin: 50px auto;
    max-width: 710px;
    padding: 0 10px;

    color: #000;
    background: #fff;

    counter-reset: footnote reference;
}

ul {
    margin: 0.5em 0 1em 1em;
}

p {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #7777fb;
}

.prof_link {
    background-color: rgba(208, 208, 255, 0.15);
    padding: 0.2em;
    border-radius: 0.2em;
}